.Search {
  margin: 10px 0;
  @media (min-width: $mobile-width) {
    width: 50%;
  }

  &-InputWrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 5px;
    padding: 5px;
  }

  &-Input {
    &:focus {
      outline: none;
    }

    background-color: transparent;
    border: 0px solid;
    padding: 10px;
    width: 100% !important;
    font-size: 14px;
  }

  &-AdvancedWrapper {
    display: none;
    margin: 0 5px;
    padding: 5px;

    &--isExpanded {
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-GradeSelect {
    width: 90% !important;
  }
}

